h1{color:black;}
h1{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
h2{color:lemonchiffon}
body{background:lightgreen;}
h5{color:yellow}
h5{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
p{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
p{color:black}
a{color:darkred}